@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Raleway&display=swap');
* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: Raleway, sans-serif;
	font-weight: 400;
	color: #3a3a3a;
}

/* Logo and heading */

h1 {
	font-family: Caveat, sans-serif;
	color: rgb(63, 131, 191);
}

.logo {
	float: left;
	font-size: 280%;
	margin-left: 30px;
}

/* Navigation links */

.menu {
	font-size: 110%;
	letter-spacing: 4px;
}

.menu,
.logo {
	line-height: 75px;
}

.menu li {
	float: right;
	list-style-type: none;
	margin-right: 50px;
}

.menu a {
	text-decoration: none;
	color: inherit;
}

.menu a:hover {
	border-bottom: 1px solid #3a3a3a;
}

.active {
	border-bottom: 1px solid rgb(63, 131, 191);
}

/* Hero Image and Cover Text */

.hero-outer {
	height: 700px;
	width: 100%;
	overflow: hidden;
	position: relative;
}


.cover-text-book-now {
	font-size: 130%;
	font-family: Caveat, sans-serif;
	color: white;
	letter-spacing: 3px;
	text-align: center;

	width: 300px;
	height: 200px;

	padding: 60px 10px 0px 10px;
	

	background-color: rgb(63, 131, 191, 0.6);

	border-radius: 25px;

	bottom: 50px;
	right: 100px;

	position: absolute;
}


.hero-image {
	height: 700px;
	width: 100%;
	background: url(../images/teacher.jpg) no-repeat center center;
	position: absolute;
	/* Animates zoom effect on loading page */
	animation-name: hero-zoom;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}

/* Zoom for hero image */

@keyframes hero-zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}

/* Company ethos */

.company-ethos {
	height: 600px;

}

.image-students {
	content: url(../images/students.jpg);
	width: 30%;
    float: right;
	margin-top: 75px;
	margin-right: 250px;
	border-radius: 10%;

}

.left-about {
	
	width: 40%;
    float: left;
	margin-left: 250px;
	margin-top: 50px;
	
}

.left-about > p, li {
	font-size: 120%;
}

.left-about > ul {
	list-style-position: inside;
}

.left-about > h2 {
	color: rgb(63, 131, 191);
	font-size: 60px;
	font-family: Caveat, sans-serif;
}

.left-about>h5 {
	text-transform: uppercase;
	text-align: center;
	font-size: 120%;
	width: 400px;
	height: 40px;
	border-radius: 25px;
	padding-top: 20px;
	
	background-color: rgb(63, 131, 191);
}

.active1,
.active2,
.active3 {
	color: white;
	text-decoration: none;
}

.left-about>h5:hover {
	animation-name: hero-zoom;
	animation-fill-mode: forwards;
}

/* Testimonial */

.left-about2 {
	content: url(../images/a\ girl.jpg);
	margin-left: 300px;
	margin-bottom: 50px;
	max-width: 20%;
}

.right-about2 {
	float: right;
	width: 40%;
	text-align: center;
	margin-right: 300px;
	margin-top: 50px;
}

/* Courses Page - Coloumn Cards */

.cardcontainer:before,
.cardcontainer:after {
	content: "";
	display: table;
	clear: both;
}

.card {
	float: left;
	width: calc(25% - 20px);
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
	height: 200px;
	margin-left: 120px;
	margin-top: 100px;
}

.card h2 {
	margin-top: 50px;
	text-align: center;
	color: white;
}

.card:hover {
	animation-name: hero-zoom;
	animation-fill-mode: forwards;
}

/* Sign up page  */

.form-section {
    clear: left;
    background: url("../images/woman.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    float: right;   
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: black;
	font-size: x-large;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}



/* footer */

footer {
	height: 150px;
}

.social-networks {
	text-align: center;
}

.social-networks>li {
	display: inline;
}

.social-networks i {
	font-size: 160%;
	margin: 1%;
	padding: 5%;
	color: #3a3a3a;
}

/* Media queries */

/* Home */

/* For larger to medium screen size from 1200px wide and down */

@media screen and (max-width: 1200px) {
	.left-about {
		width: 80%;
		float: none;
		margin-left: 50px;
		margin-top: 20px;
	}
	.left-about>h5 {
		margin-left: 150px;
		margin-top: 30px;
	}
	.image-students {
		display: none;
	}
	.right-about2 {
		margin-top: 0px;
		float: none;
		margin-right: auto;
		margin-left: 220px;
	}
	.company-ethos {
		height: 500px;
	}
	.left-about2 {
		margin-left: 180px;
		max-width: 50%;
		margin-top: 20px;
	}
}

/* Courses */

/* For larger to medium screen size from 1200px wide and down */

@media screen and (max-width: 1200px) {
	.card {
		width: 65%;
		margin-left: 15%;
	}
}

/* Sign Up */

/* For larger to medium screen size from 1200px wide and down */

@media screen and (max-width: 1200px) {
	.signup-form1,
	.signup-form2 {
		width: 65%;
		margin-left: 100px;
	}
}

/* For smaller screen size from 600px wide and down */

@media only screen and (max-width: 600px) {
	.hero-outer {
		height: 400px;
	}
	.logo {
		font-size: 200%;
		margin-left: 60px;
	}
	.menu {
		line-height: 40px;
	}
	#menu>li {
		margin-right: 30px;
		font-size: 80%;
	}
	.cover-text-test-your-english {
		width: 200px;
		font-size: 80%;
		text-align: center;
		bottom: 120px;
		right: 20px;
	}
	.cover-text-book-now {
		width: 200px;
		text-align: center;
		font-size: 80%;
		bottom: 50px;
		right: 20px;
	}
	.left-about {
		width: 60%;
		float: none;
		margin-left: 20px;
		margin-top: 20px;
		font-size: 80%;
	}
	.left-about>h5 {
		margin-left: 5px;
	}
	.image-students {
		display: none;
	}
	.right-about2 {
		margin-top: 10px;
		float: none;
		margin-right: auto;
		margin-left: 120px;
	}
	.company-ethos {
		height: 550px;
	}
	.left-about2 {
		margin-left: 100px;
		max-width: 50%;
	}
	.left-about>h2 {
		font-size: 30px;
	}
	.signup-form1,
	.signup-form2 {
		width: 65%;
		margin-left: 20px;
	}
}