@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
} 

/* Logo and heading */

h1 {
    font-family: Caveat, sans-serif;
    color: rgb(63, 131, 191);   
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid rgb(63, 131, 191);
}

/* Hero Image and Cover Text */

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text-test-your-english {
        font-size: 100%;
        font-family: Caveat, sans-serif;
        text-transform: uppercase;
        color: white;
    
        width: 300px;
        height: 50px;
        border-radius: 25px;
    
        padding-top: 10px;
        padding-left: 10px;
    
        background-color: rgb(63, 131, 191);
    
        bottom: 400px;
        right: 75px;
    
        position: absolute;
    }

#cover-text-book-now {
    font-size: 100%;
    font-family: Caveat, sans-serif;
    text-transform: uppercase;
    color: white;

    width: 300px;
    height: 50px;
    border-radius: 25px;

    padding-top: 10px;
    padding-left: 10px;

    background-color: rgb(63, 131, 191);

    bottom: 330px;
    right: 75px;

    position: absolute;
}

#cover-text-book-now:hover, #cover-text-test-your-english:hover {
    
    animation-name: hero-zoom;
    animation-fill-mode: forwards;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/teacher.jpg) no-repeat center center; 

/* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Company ethos */

#company-ethos {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}
#right-about {
    
    float: right;
    margin-right: 200px;
    margin-top: 100px;
}

#image-students { 
    content: url(../images/students.jpg);
    width: 700px;
    height: 400px;
    border-radius: 50px;
}

#left-about {
    padding-top: 10px;
    padding-left: 60px;
    width: 33%;
    float:left;
    background-color: white;
    margin-left: 200px;
    margin-top: 100px;
    height: 350px;
}

#left-about > p, li {
font-size: 120%;
}

#left-about > ul {
    list-style-position: inside;
}

#left-about > h1 {
    color: rgb(63, 131, 191);
    font-size: 250%;
}

#left-about > h5 {
    text-transform: uppercase;
    text-align: center;
    width: 230px;
    height: 30px;
    border-radius: 25px;
    padding-top: 15px;
    background-color: rgb(63, 131, 191);
}

.active1 {
    color: white;
}

#left-about>h5:hover {
    animation-name: hero-zoom;
    animation-fill-mode: forwards;
}

/* Testimonial */

#testimonial {
  height: 300px;
  width: 100%;
  overflow: none;
  }
  
#left-about2 {
    content: url(../images/a\ girl.jpg);
    border-radius: 50%;
    margin-left: 400px;
    margin-bottom: 50px;
    max-width: 20%;
}


#right-about2 {
    float: right;
    width: 40%;
    text-align: center;
    margin-right: 300px;
    margin-top: 50px;
}

  /* Courses Page - Coloumn Cards */

.cardContainer:before, .cardContainer:after {
    content: "";
    display: table;
    clear: both;
 }

.card {
    float: left;
    width: calc(25% - 20px);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: 200px;
    margin-left: 120px;
    margin-top: 100px;
 }
 
 .card h2 { 
    margin-top: 50px;
    text-align: center;
    color: white;
 }
  
 .card:hover {
    animation-name: hero-zoom;
    animation-fill-mode: forwards;
}

 /* Sign up page */

.signupcontainer::before, #start-your-test::before {
    
    clear: both;
    content: "";
    display: table;
}

#start-your-test {
    margin-left: 100px;
    font-family: Caveat, sans-serif;
    color: rgb(0, 0, 0);  
    font-size: 2.5em;
}

.test-your-english-container {
    margin-left: 100px;
    border: 3px solid rgb(63, 131, 191);
    background-color: #f2f2f2;
    padding: 10px;
    width: 50%;
  }
  #sign-up {
      padding-top: 175px;
    
  }

 input[type=text] {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  /* Style the submit button */

  input[type=submit] {
    background-color: rgb(63, 131, 191);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    float: right;
    font-size: large;
  }
  
  input[type=submit]:hover {
    animation-name: hero-zoom;
    animation-fill-mode: forwards
  }

  #links {
      padding: 5%;
    
  }  
  
  /* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
