@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Raleway&display=swap');
* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: Raleway, sans-serif;
	font-weight: 400;
	color: #3a3a3a;
}

/* Logo and heading */

h1 {
	font-family: Caveat, sans-serif;
	color: rgb(63, 131, 191);
}

.logo {
	float: left;
	font-size: 280%;
	margin-left: 30px;
}

/* Navigation links */

.menu {
	font-size: 110%;
	letter-spacing: 4px;
}

@media screen and (max-width: 800px) {
	.menu {
		font-size: 80%;
		letter-spacing: 1px;
	}
}

.menu, .logo {
	line-height: 75px;
}

.menu li {
	float: right;
	list-style-type: none;
	margin-right: 50px;
}

.menu a {
	text-decoration: none;
	color: inherit;
}

.menu a:hover {
	border-bottom: 1px solid #3a3a3a;
}

.active {
	border-bottom: 1px solid rgb(63, 131, 191);
}

/* Hero Image and Cover Text */

.hero-outer {
	height: 600px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.cover-text {
	font-size: 130%;
	font-family: Caveat, sans-serif;
	color: white;
	letter-spacing: 3px;
	text-align: center;
	width: 300px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: rgb(63, 131, 191, 0.6);
	border-radius: 25px;
	bottom: 50px;
	right: 100px;
	position: absolute;
}

@media screen and (min-width: 801px) {
	.cover-text {
		font-size: 130%;
		font-family: Caveat, sans-serif;
		color: white;
		letter-spacing: 3px;
		text-align: center;
		width: 300px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 60px;
		padding-bottom: 60px;
		background-color: rgb(63, 131, 191, 0.6);
		border-radius: 25px;
		bottom: 50px;
		right: 100px;
		position: absolute;
	}
}

@media screen and (max-width: 800px) {
		.cover-text {
			font-size: 50%;
			font-family: Caveat, sans-serif;
			color: white;
			letter-spacing: 3px;
			text-align: center;
			width: 100px;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 2px;
			padding-bottom: 2px;
			background-color: rgb(63, 131, 191, 0.6);
			border-radius: 25px;
			margin-bottom: 320px;
			right: 30px;
			
		}
	}


.hero-image {
	width: 100vw;

/* Animates zoom effect on loading page */

	animation-name: hero-zoom;
	animation-duration: 5s;
	animation-fill-mode: forwards;

/* Zoom for hero image */

@keyframes hero-zoom {
	from {
		transform: scale(1);
		}
	to {
		transform: scale(1.1);
		}
	}
}

/* Company ethos */

.company-ethos {
	height: 600px;

}

.image-students {
	content: url(../images/students.jpg);
	width: 30%;
    float: right;
	margin-top: 75px;
	margin-right: 250px;
	border-radius: 10%;

}

.left-about {
	
	width: 40%;
    float: left;
	margin-left: 250px;
	margin-top: 50px;
	
}

.left-about > p, li {
	font-size: 120%;
}

.left-about > ul {
	list-style-position: inside;
}

.left-about > h2 {
	color: rgb(63, 131, 191);
	font-size: 60px;
	font-family: Caveat, sans-serif;
}

.left-about > h5 {
	text-transform: uppercase;
	text-align: center;
	font-size: 120%;
	width: 400px;
	height: 40px;
	border-radius: 25px;
	padding-top: 20px;
	
	background-color: rgb(63, 131, 191);
}

.active1, .active2, .active3 {
	color: white;
	text-decoration: none;
}

.left-about>h5:hover {
	animation-name: hero-zoom;
	animation-fill-mode: forwards;
}

/* Testimonial */

.left-about2 {
	content: url(../images/a\ girl.jpg);
	margin-left: 300px;
	margin-bottom: 50px;
	max-width: 20%;
}

.right-about2 {
	float: right;
	width: 40%;
	text-align: center;
	margin-right: 300px;
	margin-top: 50px;
}

/* Courses Page - Coloumn Cards */

  .wrapper {
	width: 90%;
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
	max-width: 80rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  .cols {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
  }
  
  .col {
	width: calc(25% - 2rem);
	margin: 1rem;
	cursor: pointer;
  }
  
  .container {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	perspective: 1000px;
  }
  
  .front {
	background-size: cover;
	border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: white;
	font-size: 0.8rem;
  }
  
  .back {
	background: white;
	background-size: cover;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
	border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	  
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: black;
	font-size: 0.8rem;
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  }
  
  .container:hover .front, .container:hover .back {
	  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .inner {
	  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
	  transform: translateY(-50%) translateZ(60px) scale(0.94);
	  
	  font-family: Raleway, sans-serif;
	  top: 50%;
	  position: absolute;
	  left: 0;
	  width: 100%;
	  padding: 2rem;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  outline: 1px solid transparent;
	  -webkit-perspective: inherit;
	  perspective: inherit;
	  z-index: 2;
  }
  
  .container .back {
	  -webkit-transform: rotateY(180deg);
			  transform: rotateY(180deg);
	  -webkit-transform-style: preserve-3d;
			  transform-style: preserve-3d;
  }
  
  .container .front {
	  -webkit-transform: rotateY(0deg);
			  transform: rotateY(0deg);
	  -webkit-transform-style: preserve-3d;
			  transform-style: preserve-3d;
  }
  
  .container:hover .back {
	-webkit-transform: rotateY(0deg);
			transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
  }
  
  .container:hover .front {
	-webkit-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
  }
  
  .front .inner p {
	font-size: 2rem;
	font-family: Caveat, sans-serif;
	margin-bottom: 2rem;
	position: relative;
  }
  
  .front .inner p:after {
	content: '';
	width: 4rem;
	height: 2px;
	position: absolute;
	background: #C6D4DF;
	display: block;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -.75rem;
  }
  
  @media screen and (max-width: 64rem){
	.col{
	  width: calc(33.333333% - 2rem);
	}
  }
  
  @media screen and (max-width: 48rem){
	.col{
	  width: calc(50% - 2rem);
	}
  }
  
  @media screen and (max-width: 32rem){
	.col{
	  width: 100%;
	  margin: 0 0 2rem 0;
	}
  }

/* Sign up page  */

.form-section {
    clear: left;
    background: url("../images/woman.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 40px 15% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    float: right;   
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input, textarea {
    background: transparent;
    color: white;
	font-size: x-large;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid white;
    border-radius: 2px;
}

::placeholder {
	color: black;
}

.text-select:hover, .text-input:hover, textarea:hover {
    border-color: #f16c6b;
}

.text-select {
    background: transparent;
    color: black;
	font-size: large;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
	float: right;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* footer */

footer {
	height: 150px;
}

.social-networks {
	text-align: center;
}

.social-networks>li {
	display: inline;
}

.social-networks i {
	font-size: 160%;
	margin: 1%;
	padding: 5%;
	color: #3a3a3a;
}






